.divider {
  margin: 16px 0;
}

.option {
  padding: 4px 0;
}

.option-description {
  color: rgba(0, 0, 0, 0.6);
  margin: 4px 0 12px;
}

.category-select {
  width: 100%;
}

.option-actions {
  display: flex;
  justify-content: flex-end;
}
