<div class="register-container">
    <mat-card class="register-card">

        @if (!isSuccess()) {
        <mat-card-header>
            <mat-card-title>Criar Nova Conta</mat-card-title>
            <mat-card-subtitle>Cadastre sua empresa ou família</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nome da Conta (Ex: Família Silva)</mat-label>
                    <input matInput formControlName="name" placeholder="Nome do ambiente">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>CPF ou CNPJ (Opcional)</mat-label>
                    <input matInput formControlName="document">
                </mat-form-field>

                <div class="divider">
                    <span>DADOS DO ADMINISTRADOR</span>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Seu Nome Completo</mat-label>
                    <input matInput formControlName="adminName">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>E-mail de Login</mat-label>
                    <input matInput type="email" formControlName="adminEmail">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>

                @if (errorMessage()) {
                <div class="error-banner">
                    {{ errorMessage() }}
                </div>
                }

                <mat-card-actions align="end">
                    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading()">
                        {{ isLoading() ? 'PROCESSANDO...' : 'CADASTRAR' }}
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        }
        @else {
        <div class="success-state">
            <mat-icon color="primary">check_circle</mat-icon>
            <h2>Conta Criada!</h2>
            <p>Seja bem-vindo, <strong>{{ registeredTenantName() }}</strong>.</p>
            <p>Seu ambiente fintech já está pronto para uso.</p>

            <mat-card-actions align="end">
                <button mat-stroked-button color="primary" routerLink="/login">
                    IR PARA O LOGIN
                </button>
            </mat-card-actions>
        </div>
        }

    </mat-card>
</div>